body {
    font-family: sans-serif;
    text-align: center;
    background-color:aliceblue;
  }
  
  .container {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  button{
    background-color: yellow;
  }